@page "/"
@inject CurrentUser user

<PageTitle>Index</PageTitle>

<h1>Hello, world! @user.FirstName @user.LastName </h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
