@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject CurrentUser user;
@inject NavigationManager navManager;
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!user.IsLoggedIn)
            {
                navManager.NavigateTo("/auth");
            }
            await JS.InvokeVoidAsync("releaseHold");
        }
    }
}

<PageTitle>Client</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
